// li{
//     font-size: 20px;
//     color: rgb(35, 29, 214);
//     margin: 3rem 0rem;
//     opacity: 1.4;
   
// }
.ig li{
font-size: 18px;
color: rgb(0, 0, 0);
font-weight: bold;
margin: 3rem 0rem;
}
li:hover{
    color: blue;
}