.overlay {
    position: absolute;
    top: 50px;
    bottom: 0;
    left: 0;
    right: 0;
    height: 200px;
    width: 200px;
    opacity: 0;
    transition: .5s ease;
    background-color: #2fd4be;
  }
  
  .container:hover .overlay {
    opacity: 1;
  }
  .tit{
    color: white;
    font-size: 20px;
    position: absolute;
    top: 50%;
    left: 20%;
  }